footer 
    .container
        .copy 2021 © MenuShop
        .flex 
            .flex__item
                a.polit(href="#")  Политика конфеденциальности
            .flex__item
                p Часы работы: <span>пн-вс 09:00 до 21:00</span>
                a.mail(href="mailto:support@menushop.ru") support@menushop.ru
                a.tell(href="tel:+74993466690") +7-(499)-346-66-90
                .social 
                    a(href="tg://resolve?domain=AndreyGottsev") 
                        img(src=img+"1440/telegramm.png", alt="")
                    a(href="https://wa.me/79198800230")
                        img(src=img+"1440/watsapp.png", alt="") 
                    a(href="https://viber.click/779198800230") 
                        img(src=img+"1440/viber.png", alt="")
footer.mobile
    .container
        .flex 
            .flex__item(class="flex__item--one")
                .copy 2021 © MenuShop
                a.polit(href="#")  Политика конфеденциальности
            .flex__item(class="flex__item--two")
                p Часы работы: <span>пн-вс 09:00 до 21:00</span>
                .social 
                    a(href="tg://resolve?domain=AndreyGottsev") 
                        img(src=img+"1440/telegramm.png", alt="")
                    a(href="https://wa.me/79198800230")
                        img(src=img+"1440/watsapp.png", alt="") 
                    a(href="https://viber.click/779198800230")
                        img(src=img+"1440/viber.png", alt="")
            .flex__item(class="flex__item--three")
                a.mail(href="mailto:support@menushop.ru") support@menushop.ru
                a.tell(href="tel:+74993466690") +7-(499)-346-66-90
                